.game-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.column {
  display: flex;
  flex-direction: column;
  padding: 3%;
}
.loader-container {
  margin-top: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid black;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.main-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.poster-img {
  border-radius: 10%;
  width: 350px;
  height: 500px;
}
.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 3px;
  font-family: "M PLUS 1 Code", sans-serif;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: initial;
}

.review-row {
  display: flex;
  align-items: center;
  padding: 10px;
}
.review-row img {
  padding: 10px;
  width: 30px;
  height: 30px;
}

.platform-row {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}
.platform-row img {
  padding: px;
  width: 30px;
  height: 30px;
}

.try-again-row {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.try-again-row button {
  margin: 5px;
  background-color: #27282e;
  padding: 10px 25px;
  border: solid 2px white;
  color: white;
  border-radius: 7%;
}

.try-again-row button:hover {
  transition: all 0.2s 0.3s linear;
  background-color: white;
  color: #27282e;
}
p {
  color: white;
  margin: 0 auto;
  max-width: 800px;
  border: solid 2px #ccc;
  padding: 12px;
}

.attribute {
  color: rgb(75, 70, 70);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.attribute a {
  color: inherit;
}

@media screen and (max-width: 820px) {
  .game-main-container {
    flex-direction: column;
  }
}
